**/win32/msvc*
**/win64/msvc*
macos64*.mk
win32_msvc9*
win??_msvc10*
win??_msvc14*
*.pyc
*v10.vcxproj*
*v14.vcxproj*
*.user
*.svo
*.svt
**/product/*/*/src
**/product/*/dll/*.h
**/product/*/dll/*.hpp
**/product/*/doc/tex
**/product/*/doc/tex_imports
*.pdf
*calls.csv
*.log
**/.vs
/sample/makefiles/config-*.mk
*vcxprojAssemblyReference.cache
Release-*
Debug-*
