**/win32/msvc*
**/win64/msvc*
**/Release*
**/Debug*
macos64*.mk
win32_msvc9*
win??_msvc10*
win??_msvc14*
sptex.exe
*.pyc
*v10.vcxproj*
*v14.vcxproj*
*.svo
*.svt
**/product/*/*/src
**/product/*/dll/*.h
**/product/*/dll/*.hpp
**/product/*/doc/tex
**/product/*/doc/tex_imports
**/product/*/doc/*.pdf
*calls.csv
*.log
